.container {
    font-family: Arial, sans-serif;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.container h1 {
    font-size: 4rem;
    margin: 0;
}

.link {
    text-decoration: none;
    color: navy;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.link:hover {
    color: blue;
}

.link:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.post {
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.title {
    font-size: 3rem;
    margin: 0;
    /* margin-bottom: 2rem; */
}

.content {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}
.content img {
    width: 100%;
    max-width: 300px;
    display: block;
    height: auto;
    margin: 0;
}
